@import url("https://fonts.google.com/specimen/Playfair");
@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair", sans-serif;
  /*border: 1px red solid;*/
}
h1 {
  font-size: 30px;
  line-height: 64px;
  color: rgb(104, 105, 86);
}

p {
  font-size: 15px;
  color: #94a494;
}
.section-p1 {
  padding: 25% 10%;
}
.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

/*Header Start */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 50px;
  background: #dfd3c3;
  box-shadow: 0 5px 15px #f8ede3;
  padding: 1cqmin 10px 5px;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#header img {
  width: 15%;
  height: 15%;
  padding-bottom: 0%;
  padding-top: 0%;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  transition: 0.3s ease;
}

#navbar li a:hover {
  color: rgb(0, 0, 0);
}

#mobile {
  display: none;
  align-items: center;
}
*/

/* Home Page */
/*#hero {
  background-image: url("image/Menjacket.jpg");
  background-color: #94a494;
  width: 10%;
  background-position: top 10% right 0 left 0;
  display: flex;
  justify-items: flex-start;
  padding-top: 0%;
  padding-bottom: 0%;
}*/

#hero {
  /*display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;*/
  width: 100%;
  position: relative;
  display: inline-block;
  background-color: rgb(155, 110, 99);
}

#hero img {
  height: 87vh;
  display: block;
}

.hero-para {
  color: #fff;
  padding: 5em;
  inline-padding: 1px;
}

.hero-button {
  position: absolute;
  top: 60%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 1em 2em;
  font-size: 20px;
  background-color: #dfd3c3;
  text-align: center;
  border: none;
  box-shadow: 2px 2px 5px rgba(123, 148, 142, 0.947);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#feature img {
  height: 10%;
  width: 30%;
  padding-top: 0%;
}

#feature .newarrival {
  width: 100px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(123, 148, 142, 0.947);
  border: 1px solid rgba(123, 148, 142, 0.947);
}

/*.slideshow-container {
    position: relative;
    width: 100%;
    max-width: 10000px;
    margin: 0 auto;
  }
  
  .slideshow {
    display: flex;
    overflow: hidden;
  }
  
  .slideshow img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .slideshow img:hover {
    transform: scale(1.1);
  }
  
.slide {
    display: none;
    position: absolute;
    width: 100%;
}


.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}*/

.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
}

.slide {
  position: relative;
  width: 100%;
  height: 4000px;
  justify-content: center;
}

.slide img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  object-fit: cover;
}

.prev,
.next {
  position: absolute;
  top: 5%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

#product img {
  width: 20%;
  height: auto;
}

#product .pro {
  padding: 25px 50px;
  background-color: rgb(155, 110, 99);
}

#product .pro img {
  text-align: left;
  border: #94a494;
}

#product .box {
  align-items: end;
  padding-right: 25%;
}

#product2 img {
  width: 20%;
  height: auto;
}

#product2 .pro {
  padding: 25px 50px;
  background-color: #dfd3c3;
}

#product2 .pro img {
  text-align: right;
  border: #94a494;
}

#product2.box {
  align-items: end;
  padding-right: 25%;
}

/*footer*/
.footer {
  background-color: #dfd3c3;
  color: #fff;
  padding: 30px 0;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-column {
  flex-basis: 33.33%;
}

.footer-column h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-column p {
  font-size: 14px;
  margin-bottom: 5px;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons a {
  color: #fff;
  font-size: 20px;
}

.footer-bottom {
  background-color: #7d6e83;
  text-align: center;
  padding: 10px 0;
}

.footer-bottom p {
  margin: 0;
  font-size: 12px;
  color: #fff;
}

/* start media query */

@media (max-width: 799px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #dfd3c3;
    box-shadow: 0 40px 60px #7d6e83;
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  #navbar.active {
    right: 0px;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile a {
    color: #fff;
    font-size: 24px;
    padding-left: 20px;
  }
  #mobile span {
    color: #fff;
    font-size: 24px;
    padding-left: 20px;
  }
}
